<div class="row justify-content-center">
  <div class="col-6">
    <h1 class="text-center">Current Inventory</h1>
    <div class="digg_pagination mb-2">
      <div class="row justify-content-center">
        <%= will_paginate @products %>
      </div>
    </div>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr class="text-center">
        <th scope="col-5">Name</th>
        <th scope="col-4">Price (Credits)</th>
        <th scope="col-3">Avg. Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
          <tr class="text-center">
            <td class="col-5"><%= link_to product.name, product_path(product) %></td>
            <td class="col-4"><%= image_tag("credit.png") + product.cost %></td>
            <td class="col-3">4.7</td>
          </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
