<div class="row justify-content-center">
  <div class="col-9">
      <div class="card card-body">
        <h2><%= @product.name %><h2>
        <h5>Origin: <%= @product.origin %> </h5>
        <h5>Cost: <%= image_tag("credit.png") + @product.cost %> </h5>
      </div>
  </div>
</div>
